<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <title>Best Price Yugioh !</title>
    <!-- Bootstrap -->

    </head>
    <body>
     
          <form action="/"  method="post">
          <input id="carmodel" class="model" name="testurl" type="text" placeholder="Enter Card's Name"/>
          <input class="try-btn" type="submit" name="submit" id="compute" value="Find best price !"/>
          <img src="http://i2.cdscdn.com/pdt2/1/4/9/1/700x700/yug3700922351149/rw/carte-yu-gi-oh-lcjw-fr021-magicien-du-temps-fr.jpg" alt="Magicien du temps" style="width:20%">
          </form>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
     
    </body>
  </html>